[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
jedi = "*"
dash-html-components = "*"
dash-core-components = "*"
pandas-datareader = "*"
ptpython = "*"
mypy = "*"

[dev-packages]

[requires]
python_version = "3.6"
